.header{	
	height:20%;	
	background-repeat: no-repeat;
	background: yellow;
	text-align: center;
	font-weight: bold;	
}

.main{	
	height:70%;	
	background: lightblue;
}

.footer{	
	height:10%;
	background: lightgreen;
}